{% extends 'base.html' %}
{% block title %} E-shop || login {% endblock %}
{% block body %}
	{% load crispy_forms_tags %}
        <main>
            <div class="row login-page m-5 p-5 bg-image justify-content-center" style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
            	<div class="col col-lg-6 border-0">
					<form action="" method="post">
						{% csrf_token %}
						{{form|crispy}}
						{% comment %} <div class="form-group">
							<label for="singin-email-2">Username or email address</label>
							<input type="text" class="form-control" id="singin-email-2" name="username" required>
						</div><!-- End .form-group -->

						<div class="form-group">
							<label for="singin-password-2">Password</label>
							<input type="password" class="form-control" id="singin-password-2" name="password" required>
						</div><!-- End .form-group --> {% endcomment %}
						
						<div class="form-footer">
							<button type="submit" class="btn btn-outline-primary-2">
								<span>Submit</span>
								<i class="icon-long-arrow-right"></i>
							</button>
						</div><!-- End .form-footer -->
					</form>
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->
{% endblock %}