{% extends 'base.html' %}
{% block body %}
<form method="POST" style="margin:50px">
    {% csrf_token %}
    <h3>Track your order</h3>
    <div class="form-group">
      <label for="exampleInputEmail1">Order ID</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="order_id" placeholder="Enter your order id">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">email</label>
      <input type="email" class="form-control" id="exampleInputPassword1" name="email" placeholder="Enter your email">
    </div>
    <button type="submit" class="btn btn-primary">Track Order</button>
</form> <hr>
<div style="margin:50px;">
  <h3>All update's of your order</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">order id</th>
        <th scope="col">status</th>
        <th scope="col">time</th>
      </tr>
    </thead>
    <tbody>
      {% for i in info %}
      <tr>
        <td style="padding:20px">{{ i.order_id }}</td>
        <td>{{i.update_desc}}</td>
        <td>{{ i.timestamp }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
